.app {
  width: 100%;
  display: table;
  vertical-align: top;
}

.left-panel,
.right-panel {
  display: table-cell;
  padding: 10px 10px 10px 10px;
  vertical-align: top;
}

.left-panel {
  width: 300px;
}

.right-panel {
  width: auto;
}
